p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:0.75em;
    line-height: 30px;
}

.ingress{
    font-family: Arial, Helvetica, sans-serif;
    font: size 1em;
    font-weight: bold;
    
}

p::first-letter{
    font-size: 500%;
}
p::first-line{
    font-weight: bold;
}


