<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kawasaki Store</title>
    <link rel="stylesheet" href="css/boxExampleStyles.css">
</head>

<body>
    <div id="page">
        <div id="logo">
            <img src="images/er6n_1.jpeg" alt="ER6-n">
            <img src="images/er6n_2.jpeg" alt="Another ER6-n">
            <ul id="navigation">
                <li><a href="#">Home</a></li>
                <li><a href="#">For sale</a></li>
                <li><a href="#">Repairs</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <p>
                <img src="images/er6n_3.jpeg" alt="A third ER6-n">
            </p>
            <h1>Welcome to The Kawasaki MC Store</h1>
            <p>We have over 25 years experience in the repair and restoration of Kawasaki Motorcykles</p>
        </div>
    </div>
</body>