<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Site</title>
    <link rel="stylesheet" href="css/style.css">
    <style>
        p{
            color:rgb(237, 82, 82)
        }
    </style>
</head>

<body class="text-center">

    <p>
        Lorem ipsum!
    </p>

    <!-- Detta är min sida-->
    <h1>Välkommen till min sida</h1>
    <p lang="sv" style="color: blue;"> Detta är en enkel HTML-sida.</p>
    <p title="This is some random text"> Some text</p>
    <h1>Main heading</h1>
    <h2>Subheading</h2>
    <hr>
    <h3 class="text-left">Sub-subheading</h3>
    <p class="text-left"> Testing
        <br>
        <mark>the br</mark>
        <br>
        <u>tagg</u>
    </p>
    <br>
    <p>
        <strong>Logout</strong>
    </p>
    <hr>
</body>

</html>