<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Tables - PrimeSciNavigator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <!-- A table with 7 rows and 3 columns for "Home starter hosting" vs. "Premium business hosting"-->
    <table class="table table-striped" border="1">
        <thead>
            <tr>
                <th></th>
                <th scope="col">Home starter hosting</th>
                <th scope="col">Premium business hosting</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Disk Space</th>
                <td>250 MB</td>
                <td>1 GB</td>
            </tr>
            <tr>
                <th scope="row">Bandwidth</th>
                <td>5 Gb per Month</td>
                <td>50 Gb per Month</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <th colspan="2">Sign up now and save 10 %</th>
            </tr>
        </tfoot>
    </table>
</body>